@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@theme {
  --font-primary: 'Satoshi', sans-serif;
  --font-secondary: "Roboto", sans-serif;
  

  --color-primary: #71AC16;
  --color-secondary: #000000;
}


